{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="flex flex-col w-full max-w-xs mx-auto">
        <h1 class="text-3xl text-center font-bold mb-6">Đăng kí tài khoản mới</h1>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="bg-red-500 text-white px-6 py-4 border-0 rounded relative mb-4">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}" class="underline text-white">login
                    page</a>.
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/signup">
                <div class="mb-2">
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="email" name="email" placeholder="Email" autofocus="">
                </div>
                <div class="mb-2">
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text" name="name" placeholder="Tên" autofocus="">
                </div>
                <div class="mb-2">
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="password" name="password" placeholder="Mật khẩu">
                </div>
                <div class="flex items-center justify-center">
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Đăng
                        ký</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}